/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/.php_cs.cache
/.phpunit.result.cache
/php-cs-fixer-v2.phar
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
